global
    log stdout format raw local0
    maxconn 4096

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/haproxy-combined.pem
    http-request redirect scheme https unless { ssl_fc }
    default_backend app_servers

backend app_servers
    balance roundrobin
    cookie SERVERID insert indirect nocache
    option httpchk GET /health.jsp
    option redispatch
    retries 2
    server app1 app1:8080 check cookie app1_srv
    server app2 app2:8080 check cookie app2_srv

frontend stats
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s
